
/* UTILITY*/
:root {
    --paint-pink: #b83dba;
    /* --paint-pink: rgb(237, 136, 215); */
    font-family: "DM Serif Display";
    --meas: calc(100vh / 1px);
}
.hidden {
    display: none;
}
.invisible {
    opacity: 0;
}
.clickable {
    cursor: pointer;
}
.moved-down {
    transform: translate(0, 10px);
}


/* LAYOUT GENERALE */
body {
    margin: -17px;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: 15% 0%;
}
@media only screen and (max-width: 1000px) {
    body {
        background-image: image-set("assets\\grey5.jpg");
        background-size: 100%;
    }
}
@media only screen and (min-width: 1000px) {
    body {
        background-image: image-set("assets\\grey6.jpg");
        background-size: cover;
    }
}
#page {
    color:whitesmoke;
    min-height: 460px;
    margin-bottom: 160px
}
@media only screen and (max-width: 1000px) and (orientation: landscape) {
    #lang {
        margin-right: 3.5% 
    }
    #flag {
        height: 5%;
    }
}
@media only screen and (max-width: 1000px) and (orientation: portrait) {
    #lang {
        margin-right: 8% 
    }
    #flag {
        height: 2.5%;
    }
}
@media only screen and (min-width: 1000px) {
    #lang {
        margin-right: 5% 
    }
    #flag {
        height: 3%;
    }
}
#lang {
    padding: 15px;
    float: right;
}
#flag {
    position:fixed;
    margin: 20px;
    transition: opacity 0.4s;
    z-index: 100
}
#signature-cont {
    float: right;
}
#signature {
    font-size: small;
    font-weight: 50;
    color: whitesmoke;
    margin-right: 8px;
}
.brand {
    font-weight:800;
}
@media only screen and (min-width: 1000px) {
    #column-container {
        padding: 0 120px 0 120px;
        margin-left: 17px;
    }
}
@media only screen and (max-width: 1000px) {
    #column-container {
        margin-left: 17px;
        margin-right: -17px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
    #column-container {        
        margin-left: 17px;
        padding-left: calc(100vw * 0.18 - 67.6051px);
        padding-right: calc(100vw * 0.18 - 67.6051px);
    }
}



/* TITOLO */
#title-section {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#title-block {
    height: 100%;
    width: 600px;
    text-align: center;
    position: relative;
}
#title {
    color: var(--paint-pink);
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-20%, -50%);
    font-size: 600%;
    text-shadow: whitesmoke 1px 1px 4px;
}
#sub-tit {
    padding-top: 150px;
    font-size: 23px;
}



/* SEZIONE DI SELEZIONE TABS */
@media only screen and (max-width: 1000px) {
    #navpane {
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    #navpane {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
}
.tab-background {
    flex-grow: 4
}
.tab-front {
    margin: 5px;
    background-color: darkblue;
    border-color: darkblue;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    transition: border-color 1.2s;
}
.tab-front:hover {
    border-color: var(--paint-pink);
}



/* FOGLIO E CONTENUTO */
#sheet {
    min-height: 460px;
    background-color:darkblue;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#content-sheet {
    min-height: 400px;
    position: relative;
    display: flex;
    padding-bottom: 50px;
}
.content {
    transition: opacity 0.3s, transform 0.2s;
    width: 100%;    
}
@media only screen and (min-width: 1000px) {
    .content {
        position: absolute;
    }
    .content p, .content h1 {
        margin: 30px 30px 30px 30px;
    }
}
@media only screen and (max-width: 1000px) {
    .content {
        margin-bottom: 40px
    }
    #content-sheet {
        flex-direction: column;
        margin: 0 70px 0 70px; 
    }
}
@media only screen and (max-width: 1000px) and (orientation: portrait) {
    .content h1 {
        font-size: 6em;
    }
    .content {
        margin-bottom: 100px
    }
}
.content h1 {
    color: var(--paint-pink);
}

#my-github {
    text-align:center;
    margin-left: -5px;
}
#my-github p {
    margin: 30px 30px 0 30px;
}



/* LINK GITHUB */
@media only screen and (max-width: 1000px) {
    #git-box {
        min-height: 200px;
        min-width: 200px;
    }
}
@media only screen and (min-width: 1000px) {
    #git-box {
        min-height: 150px;
        min-width: 150px;
    }
}
#git-box {
    position: relative;
    text-align: center;
}
#git-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 6vw);
    transition: height 1.2s;
}
#git-pic:hover {
    height: calc(120% - 6vw);
}




/* BUY ME A COFFEE */
#coffe {
    margin: 0 0 40px 40px;
}
@media only screen and (max-width: 1000px) and (orientation: portrait) {
    a.kofi-button {
        transform: scale(1.5)
    }
    #coffe {
        margin: 13% 13% 13% 13%;
    }
}



/* SIGNATURE */

@media only screen and (max-width: 1000px) and (orientation: portrait) {
    #signature {
        color:black;
        font-size: 1.1em
    }
}
@media only screen and (max-width: 1000px) and (orientation: landscape) {
    #signature {
        text-shadow: black 1px 0 8px;
    }
}
