
/* UTILITY*/
:root {
    --paint-pink: #b83dba;
    font-family: "DM Serif Display";
}
.hidden {
    display: none;
}
.invisible {
    opacity: 0;
}
.clickable {
    cursor: pointer;
}
.moved-down {
    transform: translate(0, 10px);
}


/* LAYOUT GENERALE */
body {
    margin: -17px;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    background-image: image-set("assets\\back5.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 15% 0%;
}
#page {
    color:whitesmoke;
    min-height: 460px;
    margin-bottom: 160px
}
#lang {
    /* margin: 15px; */
    margin-right: 100px;
    padding: 15px;
    float: right;
}
#flag {
    position:fixed;
    margin: 20px;
    height: 60px;
    transition: opacity 0.4s;
}
#signature-cont {
    float: right;
}
#signature {
    font-size: small;
    font-weight: 50;
    color: whitesmoke;
    margin-right: 8px;
}
.brand {
    font-weight:800;
}
@media only screen and (min-width: 1000px) {
    #column-container {
        padding: 0 120px 0 120px;
        
        margin-left: 17px;
    }
}
@media only screen and (max-width: 1000px) {
    #column-container {
        margin-left: 17px;
        margin-right: -17px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px) {
    #column-container {        
        margin-left: 17px;
        padding-left: calc(100vw * 0.18 - 67.6051px);
        padding-right: calc(100vw * 0.18 - 67.6051px);
    }
}



/* TITOLO */
#title-section {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#title-block {
    height: 100%;
    width: 600px;
    text-align: center;
    position: relative;
}
#title {
    color: var(--paint-pink);
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-20%, -50%);
    font-size: 120px;
}
#sub-tit {
    padding-top: 150px;
    font-size: 23px;
}



/* SEZIONE DI SELEZIONE TABS */
@media only screen and (max-width: 1000px) {
    #navpane {
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    #navpane {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
}
.tab-background {
    flex-grow: 4
}
.tab-front {
    margin: 5px;
    background-color: darkblue;
    border-color: darkblue;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    transition: border-color 1.2s;
}
.tab-front:hover {
    border-color: var(--paint-pink);
}



/* FOGLIO E CONTENUTO */
#sheet {
    min-height: 460px;
    background-color:darkblue;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#content-sheet {
    min-height: 400px;
    position: relative;
    display: flex;
    padding-bottom: 50px;
}
@media only screen and (min-width: 1000px) {
    .content {
        position: absolute;
    }
}
@media only screen and (max-width: 1000px) {
    #content-sheet {
        flex-direction: column;
    }
}
.content {
    transition: opacity 0.3s, transform 0.2s;
    width: 100%;    
}
.content p, .content h1 {
    margin: 30px 30px 30px 30px;
}
.content h1 {
    color: var(--paint-pink);
}

#my-github {
    text-align:center;
    margin-left: -5px;
}
#my-github p {
    margin: 30px 30px 0 30px;
}



/* LINK GITHUB */
/* .centered-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
#git-box {
    min-height: 100px;
    min-width: 100px;
    position: relative;
    text-align: center;
}
#git-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70px;
    transition: height 1.2s;
}
#git-pic:hover {
    height: 90px;
}



#coffe {
    margin: 0 0 40px 40px;
}

/* a.kofi-button {
    height: 70px !important
} */


/* FOOTER */